<% # binding.pry if nom.id == 706696329 %>
<% contact = nom.contacts.first  %>
<% if contact.present?  %>
  <article>
    <div class="row">
      <div class="medium-4 columns">
        <img src="<%= contact.picture %>" alt="<%= contact.name  %>">
      </div>
      <div class="medium-8 columns end">
        <h2 class="title"><%= contact.name  %></h2>
        <div class="row country">
          <div class="small-4 columns">Country</div>
          <div class="small-8 columns"><b><%= nom.country  %></b></div>
        </div>
        <div class="row category">
          <div class="small-4 columns">Category</div>
          <div class="small-8 columns"><b><%= nom.category.name  %></b></div>
        </div>
        <div class="row company">
          <div class="small-4 columns">Company</div>
          <div class="small-8 columns"><b><%= nom.name  %></b></div>
        </div>
        <% if false  %>
          <h4>Description</h4>
          <p class="description"><%= contact.bio  %></p>
        <% end  %>
      </div>
    </div>
    <div class="row">
      <div class="vote medium-4 columns">
        <% if current_user  %>
          <% if voted? nom.category.name %>
            <div class="button disabled">Voted</div>
            <p class="button-notice"><small>You have already voted once in this category</small></p>
          <% else %>
            <%= link_to "Vote now!", {:controller => 'votes', :action => 'create', :nominee => nom, :user => current_user}, { :class => 'button' }%>
            <p class="button-notice"><small>Remember you can only vote once in each category</small></p>
          <% end  %>
        <% end  %>
      </div>
      <div class="medium-8 columns">
          <% if contact.linkedin.present?  %>
            <div class="website">
              <h4>Linkedin</h4>
              <a href="<%= contact.linkedin %>"><%= pretty_links(contact.linkedin) %></a>
            </div>
          <% end  %>
      </div>
    </div>
  </article>
<% else %>
<div data-alert class="alert-box warning">
  <%= nom.inspect  %>
  <hr>
  <h3><%= nom.name  %></h3>
  <h3><%= nom.category.name  %></h3>
</div>
<% end  %>