<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Voting" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>


  <% if Rails.env.production?  %>
    <body data-fb-app-id="<%= ENV['FB_APP_ID'] %>" class="page page-template page-template-page-custom-php logged-in no-customize-support">
  <% else  %>
    <body data-fb-app-id="" class="page page-template page-template-page-custom-php logged-in no-customize-support">
  <% end  %>

    </body>
    <section role="main">
    <%= yield %>
    </section>
    <%= javascript_include_tag "application" %>
  </body>
</html>